*{
    margin: 0;
    padding: 0;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
}
.btn i {
    margin-left: 8px;
}
.btn-2 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 16px; 
}
.btn-2 i {
    margin-right: 8px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

/* main-section */

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 16px auto;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 36px;
}
.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 152%;
    opacity: 90%;
    font-weight: medium;
}

#banner {
    background-image: url(./assets/hero-bg.png);
} 
#banner .banner-container {
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 179px;
}
.banner-container p {
    font-size: 18px;
    line-height: 24px;
}

.banner-container .access {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 115px;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dot {
  width: 14px;
  height: 14px;
  background: #30B868;
  border-radius: 50%;
  position: relative;
}

.dot::after {
  content: "";
  position: absolute;
  inset: -6px;
  background: rgba(76, 175, 114, 0.25);
  border-radius: 50%;
}
.access p {
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
}
.banner-container h1 {
    font-size: 72px;
    line-height: 84px;
    padding: 16px 295px;
    font-weight: 700;
    font-style: Bold;
    display: inline-block;
    opacity: 90%;
    color: #FFFFFF;
}
.banner-container .green {
    color: #30B868;
}
.banner-container .sub-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

#notes {
    text-align: center;
}
#notes .notes-container {
    max-width: 1360px;
    margin: 0 auto;
}
.notes-container h2 {
    font-size: 48px;
    color: #001931;
    margin-top: 60px;
    padding-bottom: 16px;
}
.notes-container p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 44;
}
.notes-container .note-card {
    display: flex;
    max-width: 1360px;
    margin-top: 44px;
    gap: 30px;
}
.note-card .card-info {
    /* border: 2px solid red; */
    padding: 69px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.icons {
  width: 50px;
  height: 50px;
  background: #F95555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 16px;
}
.card-info h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card-info p {
    font-size: 16px;
    font-weight: 400;
}
#brain-section {
    max-width: 1360px;
    margin: 120px auto;
}

#brain-section .brain-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 60px;
}
.text-section .text-title .solution {
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    margin-bottom: 16px;
}
.text-title h1 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.text-title p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    font-weight: 400;
    margin-bottom: 40px;
}
.check-section .check-items {
    list-style: none;   
}
.check-items li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    color: #001931;
}
.check-items img {
    margin-right: 6px;
}
#early-access {
    max-width: 1360px;
    max-height: 384px;
    margin: 0px auto;
    background-color: #F7F6F2;
    border-radius: 12px;
}
#early-access .early-container {
    text-align: center;
    padding: 80px;
}
.early-container h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.early-container p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #627382;
    margin-bottom: 24px;
}
.end-btn {
    margin-bottom: 16px;
    box-shadow: 0px 10px 20px 0px #00000034;
}
footer {
    background-color: #001931;
    margin-top: 120px;
}
footer .footer-top {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    align-items: center;
    margin: 0px auto;
    padding: 120px 0px 80px 0px;
}
.footer-top .footer-social p {
   font-size: 20px;
   font-weight: 500;
   line-height: 28px;
   color: #FFFFFF;
   margin-bottom: 16px;
}
.footer-social .social-icons a {
  color: #000000;
  margin-right: 16px;
  font-size: 16px;
  /* border: solid red; */
  border-radius: 100%;
  background-color: #FFFFFF;
}
footer hr {
    opacity: 20%;
    max-width: 1360px;
    margin: 0px auto;
}
footer .footer-bottom {
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
    line-height: 24px;
    padding: 30px 0px 30px 0px;
    text-align: center;

}



