*{
    margin: 0;
    padding: 0;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn-2 {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 16px;

}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 16px auto;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 36px;
}
.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 152%;
    opacity: 90%;
    font-weight: medium;
}

#banner {
    background-image: url(./assets/hero-bg.png);
} 
#banner .banner-container {
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 179px;
}
.banner-container p {
    font-size: 18px;
    line-height: 24px;
}

.banner-container .access {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  margin-top: 115px;
  padding: 10px 20px;
  background: #FFFFFF;
  border-radius: 9999px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dot {
  width: 14px;
  height: 14px;
  background: #30B868;
  border-radius: 50%;
  position: relative;
}

.dot::after {
  content: "";
  position: absolute;
  inset: -6px;
  background: rgba(76, 175, 114, 0.25);
  border-radius: 50%;
}
.access p {
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
}
.banner-container h1 {
    font-size: 72px;
    line-height: 84px;
    padding: 16px 295px;
    font-weight: 700;
    font-style: Bold;
    display: inline-block;
    opacity: 90%;
    color: #FFFFFF;
}
.banner-container .green {
    color: #30B868;
}
.banner-container .sub-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
