*{
    margin: 0;
    padding: 0;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 5px;
    width: 164px;
    height: 48px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    margin: 16px auto;
    align-items: center;
}
.menu {
    display: flex;
    list-style: none;
    gap: 36px;
}
.menu li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 152%;
    opacity: 90%;
    font-weight: medium;
}